<div class="container">
  <div class="add-movie">
    <form>
      <div class="control">
        <label for="name">Movei Name</label>
        <input type="text" name="movieName" [(ngModel)]="newMovie.movieName">
      </div>
      <div class="control">
        <label for="name">Movei Details</label>
        <input type="text" name="movieDetails" [(ngModel)]="newMovie.movieDetails">
      </div>
      <div class="control">
        <label for="name">Movei Earning</label>
        <input type="text" name="movieEarning" [(ngModel)]="newMovie.movieEarning">
      </div>
      <div class="btn">
        <button (click)="addMovie()">Add Movie</button>
      </div>
    </form>
  </div>
  <div class="viewList">
    <app-movies-list></app-movies-list>
  </div>
</div>